<ion-content>
  <app-header-modal  title="Agregar producto" backButtonModal="true"></app-header-modal>

  <ion-grid class="ion-text-center" fixed>
    <ion-row><ion-card class="animate__animated animate__rotateInUpLeft">
      
   
      <ion-col size="12">

        <ion-icon *ngIf="!imgLoaded && !image.value" style="font-size: 120px;"
          name="image-outline" color="medium">
        </ion-icon>

        <ion-avatar *ngIf="image.value" style="margin: 0 auto; width:
          120px;height:
          120px;padding-bottom: 5px;">
          <img [src]="image.value" />
        </ion-avatar>

        <div class="custom-input-file">
          <input type="file" (change)="chooseImage($event)" class="input-file">
          Seleccionar Imagen
        </div>
      </ion-col>

 <!-- ------------------------------- Formulario ---------------------------------------- -->
      <ion-col size="12">
        <form [formGroup]="form" (ngSubmit)="addProduct()">

 <!-- ------------------------------- Nombre del producto ---------------------------------------- -->
          <ion-item>
            <ion-label position="floating">Nombre:</ion-label>
            <ion-input type="text" required formControlName="name"></ion-input>
          </ion-item>


          <div style="padding-top: 10px;" *ngIf="(name.touched) && name.errors">
            <div style="border-radius: 20px; font-size: 13px;padding: 0;
              padding-left: 10px;" class="alert alert-danger">
              <span *ngIf="name.errors?.required">Ingresa el nombre del producto</span>
            </div>
          </div>

 <!-- ------------------------------- Categoría del producto ---------------------------------------- -->


          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select formControlName="categoryId" placeholder="Selecciona">
              <ion-select-option *ngFor="let c of categories" [value]="c.id">{{c.name}}</ion-select-option>
            </ion-select>
          </ion-item>

          <div style="padding-top: 10px;" *ngIf="(categoryId.touched) && categoryId.errors">
            <div style="border-radius: 20px; font-size: 13px;padding: 0;
              padding-left: 10px;" class="acategoryId alert-danger">
              <span *ngIf="categoryId.errors?.required">Selecciona la categoría del producto</span>
            </div>
          </div>

 <!-- ------------------------------- Precio del producto ---------------------------------------- -->
          <ion-item>
            <ion-label position="floating">Precio:</ion-label>
            <ion-input type="tel" required formControlName="price"></ion-input>
          </ion-item>



          <div style="padding-top: 10px;" *ngIf="(price.touched) &&
            price.errors">
            <div style="border-radius: 20px; font-size: 13px;padding: 0;
              padding-left: 10px;" class="alert alert-danger">
              <span *ngIf="price.errors?.required">Ingresa el precio del
                producto</span>

            </div>
          </div>

 <!-- ------------------------------- Cantidad de productos ---------------------------------------- -->

          <ion-item>
            <ion-label position="floating">Stock</ion-label>
            <ion-input type="tel" required
              formControlName="stock"></ion-input>
          </ion-item>



          <div style="padding-top: 10px;" *ngIf="(stock.touched) &&
            stock.errors">
            <div style="border-radius: 20px; font-size: 13px;padding: 0;
              padding-left: 10px;" class="alert alert-danger">
              <span *ngIf="stock.errors?.required">Ingresa la cantidad de
                productos</span>

            </div>
          </div>


 <!-- ------------------------------- Descripción del producto ---------------------------------------- -->

 <ion-item>
    <ion-label position="floating">Descripción del producto:</ion-label>
    <ion-input type="text" required formControlName="description"></ion-input>
  </ion-item>

  <div style="padding-top: 10px;" *ngIf="(description.touched) &&
    description.errors">
    <div class="alert" class="alert alert-danger">
      <span *ngIf="description.errors?.required">Ingresa la
        descripción del anuncio</span>

    </div>
  </div>


 <!-- ------------------------------- Botón ---------------------------------------- -->

          <div class="ion-text-center" style="padding: 20px;">
            <button class="button-btn" color="warning" type="submit">
              Guardar
            </button>
          </div>


        </form>
      </ion-col>

 </ion-card>
    </ion-row>
  </ion-grid>


</ion-content>
