<ion-content>
  <app-header-modal title="Agregar anuncios" backButtonModal="true"></app-header-modal>
  <ion-grid fixed>
    <ion-row>

      <ion-card class="animate__animated animate__rotateInUpLeft">


        <!-- ------------------------------- Imagen ---------------------------------------- -->
        <ion-col size="12">
          <div class="icon"><ion-icon *ngIf="!imgLoaded && !image.value"
              style="font-size: 120px;" name="image-outline" color="medium">
            </ion-icon>
          </div>



          <ion-avatar *ngIf="image.value" style="margin: 0 auto; width:
            120px;height:
            120px;padding-bottom: 5px;">
            <img [src]="image.value" />
          </ion-avatar>

          <div class="custom-input-file">
            <input type="file" (change)="chooseImage($event)"
              class="input-file">
            Seleccionar Imagen
          </div>
        </ion-col>
        <ion-col size="12">


          <form [formGroup]="form" (ngSubmit)="addMarketing()">

            <!-- ----------------------------Nombre--------------------------------------- -->
            <ion-item>
              <ion-label position="floating">Nombre del anuncio:</ion-label>
              <ion-input type="text" required formControlName="name"></ion-input>
            </ion-item>

            <div style="padding-top: 10px;" *ngIf="(name.touched) &&
              name.errors">
              <div style="border-radius: 20px; font-size: 13px;padding: 0;
                padding-left: 10px;"
                class="alert alert-danger">
                <span *ngIf="name.errors?.required">Ingresa el nombre del
                  anuncio</span>

              </div>
            </div>


            <!-- ----------------------------Descripcion--------------------------------------- -->
            <ion-item>
              <ion-label position="floating">Descripción del anuncio:</ion-label>
              <ion-input type="text" required formControlName="description"></ion-input>
            </ion-item>

            <div style="padding-top: 10px;" *ngIf="(description.touched) &&
              description.errors">
              <div class="alert" class="alert alert-danger">
                <span *ngIf="description.errors?.required">Ingresa la
                  descripción del anuncio</span>

              </div>
            </div>


            <!-- ------------------------------- Botón ---------------------------------------- -->
            <div  style="padding: 20px;">
              <button class="ion-text-center button-btn" type="submit" color="warning">
                Guardar
              </button>
            </div>

          </form>




        </ion-col> </ion-card>
    </ion-row>
  </ion-grid>





</ion-content>