.no-products{
    text-align: center;
    padding-top: 25%;
    color: var(--ion-color-medium);
}

.ad{
    font-size: 120px; 
    padding-top: 160px;
    color: var(--ion-color-medium);
  }
  .ad-text{
    color: var(--ion-color-medium);
  }
